.Footer {
  height: 100%;
  display: flex;
  padding: 2em;
  justify-content: space-around;
  align-items: flex-start;
  margin: auto;
  width: 70%
}
.Footer-body {
  width: 100%;
  background-color: #373947;
}

.Footer ul {

  list-style-type: none;
  font-family: Arial, helvetica;
}
.Footer li {
  color: #e7e7e7;
  text-decoration: none;
}
.Footer li a {
  color: #e7e7e7;
  text-decoration: none;
}
.Footer li a:hover{
  text-decoration: underline;
}

.Footer p {
  text-decoration: none;
  color: #e7e7e7;
}

.Footer .Footer-columns {
  flex: 1;
}


.FootersSecondary {
  height: 100%;
  display: flex;
  padding: 1em 2em;
  justify-content: center;
  align-items: flex-start;
  background-color: #000e1c;
  width: 70%;
  margin: 0px auto;
  font-size:small;
  vertical-align: top;
}
.FootersSecondary-body {
  width: 100%;
  background-color: #000e1c;
}
.FootersSecondary li {
  color: #e7e7e7;
  text-decoration: none;
}
.FootersSecondary li a {
  color: #e7e7e7;
  text-decoration: none;
}

.FootersSecondary p {
  text-decoration: none;
  color: #e7e7e7;
}
.FootersSecondary li a:hover{
  text-decoration: underline;
}
.FootersSecondary ul {
  list-style-type: none
}
.FootersSecondary .Footer-columns {
  flex: 1;
}

.intermediate-footer {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 2% 
}

.footer-end {
  text-align: center;
}

.footer-end li {
  color: #e7e7e7;
  text-decoration: none;
  display: inline-block;
  margin: 10px;
}
.footer-end li a {
  color: #e7e7e7;
  text-decoration: none;
}

.footer-end p {
  text-decoration: none;
  color: #e7e7e7;
}
.footer-end li a:hover{
  text-decoration: underline;
}
.footer-end ul {
  list-style-type: none;

}
.footer-end .Footer-columns {
  flex: 1;
}

.footer-start { 
  background: #fff;
  padding-top: 2px;
  margin-top: 100px;
  padding-bottom: 2px;
  text-align: center }

  .change:hover{
    background: #fff
  }

  .change {
    background: #373947;
    color: #fff;
    border: 1px solid #fff;
    margin: 2px
  }