.card {
    min-width: 23%;
    max-width:23%;
    max-height:70%;
    margin-top: 2%
  } 

.createFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-text img {
  max-height: 50%
}